In [1]:
# importando dados
import pandas as pd

pd.read_table('cakes.txt', sep = " ")

pd.read_table('dados-exem.csv',sep = ",", skiprows= 4)
# https://datacatalog.worldbank.org/search?sort_by=field_wbddh_modified_date&search_api_views_fulltext_op=AND&sort_order=DESC&%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20f[0]=field_wbddh_country:115

teste = pd.read_csv('dados-exem.csv', skiprows= 4, index_col='Country Name')
teste.tail()

,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,1996,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 34
Country Name,,,,,,,,,,,,,,,,,,,,,
Kosovo,XKX,GNI per capita (US$),NY.GNP.MKTP.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3828.261031,3706.433608,3980.264854,4163.930116,3660.572587,3826.023323,4127.859725,4494.408753,4517.744195,NaN
"Yemen, Rep.",YEM,GNI per capita (US$),NY.GNP.MKTP.PC.CD,479.184007,466.098922,487.371439,386.347355,285.939176,273.152217,341.199129,...,1276.441472,1382.399061,1534.952603,1571.700551,1550.929256,1138.682995,960.528534,823.683629,773.905849,NaN
South Africa,ZAF,GNI per capita (US$),NY.GNP.MKTP.PC.CD,3024.007098,3200.897828,3402.897704,3321.554503,3385.529215,3682.482251,3420.725264,...,7802.620830,7297.817114,6653.368184,6261.521355,5592.515426,5127.193610,5948.562599,6172.569944,5832.192024,NaN
Zambia,ZMB,GNI per capita (US$),NY.GNP.MKTP.PC.CD,373.932878,363.148040,339.183378,348.670393,385.609724,391.911147,363.096136,...,1590.403644,1733.209453,1801.919978,1727.207768,1311.859067,1241.039555,1466.835776,1492.930760,1282.634508,NaN
Zimbabwe,ZWE,GNI per capita (US$),NY.GNP.MKTP.PC.CD,815.900413,780.590357,593.651182,569.363250,585.582038,594.640327,713.455661,...,938.523191,1136.189459,1289.360711,1298.572072,1301.574534,1338.020704,1410.406438,1572.589521,1354.401689,NaN

In [2]:
# descritva por pais
teste.T.describe()

Country Name,Aruba,Afghanistan,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,Armenia,American Samoa,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
count,31.000000,14.000000,33.000000,33.000000,3,33.000000,23.000000,33.000000,33.000000,3,...,3,33.000000,33.000000,33.000000,23.000000,19.000000,33.000000,33.000000,33.000000,33.000000
unique,31.000000,14.000000,33.000000,33.000000,3,33.000000,23.000000,33.000000,33.000000,3,...,3,33.000000,33.000000,33.000000,23.000000,19.000000,33.000000,33.000000,33.000000,33.000000
top,19008.363421,544.260065,2819.722525,4542.867216,NY.GNP.MKTP.PC.CD,1920.731187,33883.494544,12483.558264,960.901858,ASM,...,VIR,1665.535006,1154.466041,10627.993562,4035.580892,3392.295518,960.528534,3200.897828,385.609724,512.210038
freq,1.000000,1.000000,1.000000,1.000000,1,1.000000,1.000000,1.000000,1.000000,1,...,1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
teste2 = pd.read_csv('exem3.csv', usecols=['Adubo', 'Dose', 'Bloco','y'], index_col=['Adubo', 'Dose'])
teste2.tail()

            Bloco     y
Adubo Dose
4     2         4  2562
      3         1  3742
      3         2  2498
      3         3  3458
      3         4  3076

In [4]:
testeT = teste.T
# escrevendo em csv
testeT.to_csv('dados-exem-trans.csv', na_rep="") # na_rep # define como os na sairÃ£o

In [5]:
pd.read_csv('API_NY.csv')
# pd.read_excel('Metadata.xlsx')

,Data Source,Sustainable Development Goals,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,Last Updated Date,22/03/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
3,Aruba,ABW,GNI per capita (US$),NY.GNP.MKTP.PC.CD,"12182,3642225296","13375,8372064515","13904,8637779478","14690,2602021726","15980,2903279847","16250,1783976014",...,"22132,8375776997","22566,2279372968","23581,7812600772","24594,0244871222","25656,8501405019","26785,2950352569","26992,2024657033","27387,9046986736",NaN,NaN
4,Afghanistan,AFG,GNI per capita (US$),NY.GNP.MKTP.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,"544,260065037087","590,518169999352","642,882195510742","639,388564512313","613,785652385012","583,69585593898","514,293114271805","526,726154300307","498,881482609395","515,164559368834"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GNI per capita (US$),NY.GNP.MKTP.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,"3337,18946616321","3828,26103108962","3706,43360816876","3980,26485433819","4163,93011600995","3660,57258722345","3826,02332337264","4127,85972467632","4494,40875284898","4517,74419539797"
262,"Yemen, Rep.",YEM,GNI per capita (US$),NY.GNP.MKTP.PC.CD,"479,184006891568","466,098921942807","487,3714392268","386,347355273283","285,939175862333","273,152217467605",...,"1256,2275068653","1276,44147194804","1382,39906141612","1534,95260297943","1571,70055127077","1550,92925610527","1138,68299471073","960,528533738514","823,683629047097","773,905848677671"
263,South Africa,ZAF,GNI per capita (US$),NY.GNP.MKTP.PC.CD,"3024,00709758272","3200,89782769755","3402,89770365517","3321,55450294668","3385,52921511006","3682,48225080373",...,"7172,33897546357","7802,62082984521","7297,81711384407","6653,36818402197","6261,52135475279","5592,51542556436","5127,19361029609","5948,56259866775","6172,56994366686","5832,19202376371"
264,Zambia,ZMB,GNI per capita (US$),NY.GNP.MKTP.PC.CD,"373,932877853205","363,148040362575","339,183378055712","348,670393489767","385,609723873738","391,911146944747",...,"1389,28279526529","1590,40364400044","1733,20945272721","1801,91997799267","1727,20776803441","1311,85906740989","1241,03955465711","1466,83577627731","1492,93075956794","1282,63450816272"
265,Zimbabwe,ZWE,GNI per capita (US$),NY.GNP.MKTP.PC.CD,"815,900412761333","780,590356984532","593,651182303347","569,363249887359","585,582037737672","594,640326626362",...,"835,924574823376","938,52319114872","1136,18945933518","1289,36071068067","1298,57207216391","1301,57453377865","1338,02070362976","1410,4064377075","1572,58952097712","1354,4016893144"